<div class="container-fluid">
  <p> <b>KÖPARENS NAMN : </b> {{companyName}}</p>
  <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" class="filterInput">
      </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
        <button mat-raised-button color="primary" class="iconBtn"><i class="pi pi-plus"></i></button>
    </div>
  </div>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
 
<ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef style="min-width: 30px; text-align: center;">
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>
    <!-- KUNDNUMMER Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element" style="text-align: left; padding-left: 15px;"> {{element.Name}} </td>
    </ng-container>

    <!-- KÖPARENS_NAMN Column -->
    <ng-container matColumnDef="DataBase">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> DATABAS </th>
      <td mat-cell *matCellDef="let element" style="text-align: left;"> {{element.DataBase}} </td>
    </ng-container>

    <!-- GILTIG_T_OM Column -->
    <ng-container matColumnDef="TolkId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> TECKEN ID</th>
      <td mat-cell *matCellDef="let element"> {{element.TolkId}} </td>
    </ng-container>

    <!-- Aktiva_användare Column -->
    <ng-container matColumnDef="ExtraPath">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> EXTRA VÄG </th>
      <td mat-cell *matCellDef="let element" style="text-align: left;"> {{element.ExtraPath}} </td>
    </ng-container>
    <!-- SERIENUMMER Column -->
    <ng-container matColumnDef="GUID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> GUID </th>
      <td mat-cell *matCellDef="let element"> {{element.GUID}} </td>
    </ng-container>
    <!-- AKTIVA Column -->
    <ng-container matColumnDef="IsActive">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> AKTIVA </th>
      <td mat-cell *matCellDef="let element"> 
        
          <mat-checkbox (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="element.IsActive">
</mat-checkbox>
<!-- {{element.IsActive}}  -->
</td>
    </ng-container>
<!-- 

       Delete Column
       <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-raised-button color="primary" class="TableBtn" > <i class="pi pi-trash"></i></button>
          <button mat-raised-button color="primary" class="TableBtn" (click)="NavigateCompanyList(element)"><span class="SpanFontSize">User</span></button>
        </td>
      </ng-container>
   -->

        <!--Kundar button Column -->
        <ng-container matColumnDef="User">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let element">
            <!-- <button pButton type="button" label="Primary" class="ui-button-rounded"></button> -->
            <button mat-raised-button color="primary" class="TableBtn" (click)="NavigateUserList(element)"><span class="SpanFontSize">Users</span></button>
            <button mat-raised-button color="primary" class="TableBtn" style="margin-right: 20px;" > <i class="pi pi-trash"></i></button>
          </td>
          </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 50, 100]" showFirstLastButtons></mat-paginator>
</div>