/* 12375c 12375c*/

.container-fluid {
    margin-right: 0px;
    width: auto;
}
.pi {
    font-size: 30px;
    width: 100%;
    text-align: center;
}
table {
    width: 100%;
  }
  .mat-table, .mat-header-cell, .mat-cell, .mat-footer-cell {
      color: #333;
      background: #fff;
  }
  th.mat-header-cell {
    text-align: left;
    background: #12375c !important;
    color: #fff !important;
    font-weight: bold;
    font-size: 13px;
    border: none;
}
td.mat-cell {
    border-bottom-color: rgb(223, 223, 223) !important;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .filterInput {
    margin: 20px;
    padding: 5px;
    width: 320px;
    margin-left: 0px;
    border: 1px solid #aaa;
    background: #fff;
  }

.iconBtn{
    background-color: #12375c !important;
    border: 1px solid #12375cb5 !important;
    float:right;
    margin: 20px 5px;

  }
  .mat-paginator, .mat-select-panel{
        background: #12375c !important;
  }
  .mat-button.mat-accent[disabled], .mat-button.mat-primary[disabled], .mat-button.mat-warn[disabled], .mat-button[disabled][disabled], .mat-icon-button.mat-accent[disabled], .mat-icon-button.mat-primary[disabled], .mat-icon-button.mat-warn[disabled], .mat-icon-button[disabled][disabled], .mat-stroked-button.mat-accent[disabled], .mat-stroked-button.mat-primary[disabled], .mat-stroked-button.mat-warn[disabled], .mat-stroked-button[disabled][disabled] {
    color: rgb(255, 255, 255) !important;
}
.pi{
    font-size : 20px;
}

.mat-raised-button{
    min-width: 40px;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #fafdff;
    color: #ededed !important;
    border: 2px solid #ccc;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #ffffff !important;
    border: 2px solid #ccc;
}
.TableBtn{
    background-color: #12375c !important;
    float:right;
    outline-color: transparent;
    line-height: 30px;
    padding: 0 10px;
}
td.mat-cell, th.mat-header-cell {
    text-align: center;
}
.mat-checkbox-checkmark-path {
    stroke: #ffffff!important;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #12375c !important;
}
.SpanFontSize{
    font-size: 9pt;
}
tr.mat-footer-row, tr.mat-row {
    height: 43px;
}
