<div class="container-fluid">
  <p><b>Installation</b> </p>
  <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" class="filterInput">
      </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
        <button mat-raised-button color="primary" class="iconBtn" (click)="openDialog()"><i class="pi pi-plus"></i></button>
        <button mat-raised-button color="primary" class="iconBtn" (click)="reload()"><i class="pi pi-refresh"></i></button>
        <button mat-raised-button color="primary" class="iconBtn"><i class="pi pi-save"></i></button>
   
        <!-- <i class="pi pi-plus"></i>
        <i class="pi pi-refresh"></i>
        <i class="pi pi-save"></i> -->
    </div>
  </div>
  <p *ngIf="animal">
    Ans : <i>{{animal}}</i>
  </p>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 50px !important; max-width: 50px !important;"></th>
        <td mat-cell *matCellDef="let element" style="width: 50px;"> <i class="pi pi-trash"></i> </td>
      </ng-container>
  
<ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef style="min-width: 30px; text-align: center;">
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>
    <!-- KUNDNUMMER Column -->
    <ng-container matColumnDef="CustomerNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> KUNDNUMMER </th>
      <td mat-cell *matCellDef="let element"> <input type="text" class="TableTextbox" value="{{element.CustomerNo}}"></td>
    </ng-container>

    <!-- KÖPARENS_NAMN Column -->
    <ng-container matColumnDef="CustomerName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> KÖPARENS NAMN </th>
      <td mat-cell *matCellDef="let element"> <input type="text" class="TableTextbox" value="{{element.CustomerName}}"></td>
    </ng-container>

    <!-- GILTIG_T_OM Column -->
    <ng-container matColumnDef="ValidEnd">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> GILTIG T OM </th>
      <td mat-cell *matCellDef="let element"> {{element.ValidEnd | date:'d-MMM-y' }} </td>
    </ng-container>

    <!-- Aktiva_användare Column -->
    <ng-container matColumnDef="NoOfActiveUsers">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> AKTIVA ANVÄNDAR </th>
      <td mat-cell *matCellDef="let element"> {{element.NoOfActiveUsers}} </td>
    </ng-container>
    <!-- SERIENUMMER Column -->
    <ng-container matColumnDef="SerialNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> SERIENUMMER </th>
      <td mat-cell *matCellDef="let element"> {{element.SerialNo}} </td>
    </ng-container>
    <!-- AKTIVA Column -->
    <ng-container matColumnDef="IsActive">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> AKTIVA </th>
      <td mat-cell *matCellDef="let element"> 
        
          <mat-checkbox (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="element.IsActive">
</mat-checkbox>
<!-- {{element.IsActive}}  -->
</td>
    </ng-container>
        <!--Kundar button Column -->
        <ng-container matColumnDef="Kundar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let element">
            <!-- <button pButton type="button" label="Primary" class="ui-button-rounded"></button> -->
            <button mat-raised-button color="primary" class="TableBtn" (click)="NavigateCompanyList(element)"><span class="SpanFontSize">KUNDAR</span></button>
          </td>
          </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>