<h2 mat-dialog-title>LÄGG</h2>
<mat-dialog-content class="mat-typography custom-scroll">
  <!-- <button class="btn btn-primary" (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button> -->
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>LÄGG TILL INSTALLATIONER</ng-template>
        <mat-form-field>
          <input matInput placeholder="Serie Nummer"  (click)="OndisabletabClick()" formControlName="SerialNo" style="color:#fff;" required>
        </mat-form-field>
        <table class="full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field>
                <input matInput placeholder="Kund Nummer" formControlName="CustomerNo" style="color:#fff;" required>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input matInput placeholder="Köparens Namn" formControlName="CustomerName" style="color:#fff;" required>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input matInput [matDatepicker]="picker" (click)="picker.open()" (focus)="picker.open()" placeholder="Giltig End"
                  formControlName="ValidEnd">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </td>
            <td>
            </td>
          </tr>
        </table>
        <label style="margin-left:10px; margin-right:10px;">Aktiva</label>
        <mat-checkbox placeholder="IsActive" formControlName="IsActive" [checked]="true" [disabled]='true'>
        </mat-checkbox>
        <div>
          <button mat-button matStepperNext [disabled]="!firstFormGroup.valid">Nästa >></button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel> LÄGG COMPANY</ng-template>
        <table class="full-width" cellspacing="0">
          <tr>
            <td  (click)="OndisabletabClick()">
              <mat-form-field>
                <input matInput placeholder="GUID" formControlName="GUID" style="color:#fff;" required>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input matInput placeholder="FÖRETAGSNAMN" formControlName="Name" style="color:#fff;" required>
              </mat-form-field>
            </td>
          </tr>
        </table>
        <label style="margin-left:10px; margin-right:10px;">Aktiva</label>
        <div>
          <button mat-button matStepperPrevious>Tillbaka</button>
          <button mat-button matStepperNext style="margin-left: 10px;" [disabled]="!secondFormGroup.valid">Nästa >></button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel> LICENS</ng-template>
        <div class="row">
          <div class="col-lg-3" (click)="OndisabletabClick()">
            <label class="switch-light switch-candy .switch-candy-blue">
              <input type="checkbox" formControlName="Scanlev3184300">
              <strong>
                Scanlev - 3184300
              </strong>
              <span aria-hidden="true">
                <span>Off</span>
                <span>On</span>
                <a style="background-color: #389bff;"></a>
              </span>
            </label>
          </div>
          <div class="col-lg-3">
            <label class="switch-light switch-candy .switch-candy-blue" onclick="">
              <input type="checkbox" name="VismaAdmin" formControlName="VismaAdmin">

              <strong>
                Visma Administration - 3184301
              </strong>
              <span aria-hidden="true">
                <span>Off</span>
                <span>On</span>
                <a style="background-color: #389bff;"></a>
              </span>
            </label>
          </div>
          <div class="col-lg-3">
            <label class="switch-light switch-candy .switch-candy-blue" onclick="">
              <input type="checkbox" formControlName="VismaeKonomi">
              <strong>
                Visma eEkonomi - 3184305
              </strong>

              <span aria-hidden="true">
                <span>Off</span>
                <span>On</span>
                <a style="background-color: #389bff;"></a>
              </span>
            </label>
          </div>
          <div class="col-lg-3">
            <label class="switch-light switch-candy .switch-candy-blue" onclick="">
              <input type="checkbox" formControlName="MultiCompany">
              <strong>
                MultiCompany - 3184311
              </strong>

              <span aria-hidden="true">
                <span>Off</span>
                <span>On</span>
                <a style="background-color: #389bff;"></a>
              </span>
            </label>
          </div>
          <div class="col-lg-3">
            <label class="switch-light switch-candy .switch-candy-blue" onclick="">
              <input type="checkbox" formControlName="Interpreted">
              <strong>
                Interpreted - 3184320
              </strong>

              <span aria-hidden="true">
                <span>Off</span>
                <span>On</span>
                <a style="background-color: #389bff;"></a>
              </span>
            </label>
          </div>
          <div class="col-lg-3">
            <label class="switch-light switch-candy .switch-candy-blue" onclick="">
              <input type="checkbox" formControlName="API3184309">
              <strong>
                API - 3184309
              </strong>

              <span aria-hidden="true">
                <span>Off</span>
                <span>On</span>
                <a style="background-color: #389bff;"></a>
              </span>
            </label>
          </div>
          <div class="col-lg-3">
            <label class="switch-light switch-candy .switch-candy-blue">
              <input type="checkbox" formControlName="Fortnox3184306">
              <strong>
                Fortnox - 3184306
              </strong>
              <span aria-hidden="true">
                <span>Off</span>
                <span>On</span>
                <a style="background-color: #389bff;"></a>
              </span>
            </label>
          </div>
        </div>
        <div>
          <button mat-button matStepperPrevious>Tillbaka</button>
          <button mat-button matStepperNext style="margin-left: 10px;">Nästa >></button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup">
      <ng-template matStepLabel>SKAPA USER PROFILE</ng-template>
      <form [formGroup]="fourthFormGroup">
        <table class="full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field>
                <input matInput placeholder="kort Key" formControlName="UserCode" style="color:#fff;" required>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input matInput placeholder="Namn" formControlName="Name" style="color:#fff;" required>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input matInput placeholder="E-post" formControlName="EMailID" style="color:#fff;" required>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
      <div (click)="OndisabletabClick()">
        <mat-checkbox placeholder="Läserin" [checked]="true" [disabled]='true' class="mleft20"></mat-checkbox> Läser in
        <mat-checkbox placeholder="IsActive" [checked]="true" [disabled]='true' class="mleft20"> </mat-checkbox> Överföring
        <mat-checkbox placeholder="IsActive" [checked]="true" [disabled]='true' class="mleft20"> </mat-checkbox> inlägg
        <mat-checkbox placeholder="IsActive" [checked]="true" [disabled]='true' class="mleft20"> </mat-checkbox> Faktura Arkiv
        <mat-checkbox placeholder="IsActive" [checked]="true" [disabled]='true' class="mleft20"> </mat-checkbox> Alla Fakturor
        <mat-checkbox placeholder="IsActive" [checked]="true" [disabled]='true' class="mleft20"> </mat-checkbox> Administratör
        <mat-checkbox placeholder="IsActive" [checked]="true" [disabled]='true' class="mleft20"> </mat-checkbox> certifiering
        <mat-checkbox placeholder="IsActive" [checked]="true" [disabled]='true' class="mleft20"> </mat-checkbox> Aktiva
      </div>
        <button mat-button matStepperPrevious>Tillbaka</button>
        <p style="margin-top: 10px">Du är nu klar.</p>
    </mat-step>
  </mat-horizontal-stepper>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Avbryt</button>
  <button mat-button [mat-dialog-close]="data.NoOfActiveUsers" [disabled]="!secondFormGroup.valid" cdkFocusInitial>Avsluta</button>
</mat-dialog-actions>



<p-toast [style]="{marginTop: '80px'}"></p-toast>
<!-- (onClose)="onReject()" -->
