<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3 style="text-align: center;">Administratör</h3>
			</div>
			<div class="card-body">
        <img id="carouselImg" class="ImgClass img-responsive" src="assets\logo.png">
				<form [formGroup]="loginform" (ngSubmit)="onSubmit()">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input id="password" name="password" type="password" class="form-control" placeholder="Lösenord"  formControlName="password"  >
					</div>
					<div class="form-group">
						<input type="submit" value="logga in" class="btn login_btn">
					</div>
        </form>
        <span class="pull-left" style="color: #fff;">
            version : {{versionNumber}} <!--yyyy.p.mm()!!-->
          </span>
			</div>
		</div>
	</div>
</div>
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<!-- (onClose)="onReject()" -->

</body>
</html>
