.sidenav {
    background-color: #12375c;
    top: 58px !important;
    z-index: 100;
    position: fixed;
    left: 0px;
    width: 105px;
    height: 100%;
    transform: translateZ(0px);
    color: #fff;
}
.container-fluid {
    margin-right: 0px;
    width: auto;
}
.sideIcons {
    width: 100%;
    text-align: center;
    font-size: 7pt;
    /* line-height: 20px; */
    text-align: center;
    text-transform: uppercase;
    margin-bottom : 0;
}
.pi {
    font-size: 30px;
    width: 100%;
    text-align: center;
}
.SideNavIcons {
    padding: 15px 5px;
}
.SideNavIcons:hover {
    color: #12375c !important;
    background: #eee !important;
}
table {
    width: 100%;
  }
  .mat-table, .mat-header-cell, .mat-cell, .mat-footer-cell {
      color: #333;
      background: #fff;
  }
  th.mat-header-cell {
    text-align: left;
    background: #12375c !important;
    color: #fff !important;
    font-weight: bold;
    font-size: 13px;
}
td.mat-cell {
    border-bottom-color: rgb(223, 223, 223) !important;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .filterInput {
    margin: 20px;
    padding: 5px;
    width: 320px;
    margin-left: 0px;
    border: 1px solid #aaa;
    background: #fff;
  }
  .logout{
      color: #fff;
      flex: 10%;
  }
  .txtLogout{
      color: #fff;
      font-size: 10pt;
      flex: 60%;
  }
  .nav-right{
      position: absolute;
      right: 20px;
  }
  .custom-scroll::-webkit-scrollbar {
    display: block !important;
  }
  .custom-scroll::-webkit-scrollbar-track {
    background: #fff !important;
  }
  .custom-scroll::-webkit-scrollbar-thumb {
    background: #ccc !important;
  }
  .mat-raised-button{
    line-height: 25px;
    padding: 0 10px;
  }
