<nav class="navbar navbar-expand-lg  fixed-top navbar-light" style="background: #12375c">
  <!-- #edf0f2" -->
  <a class="navbar-brand" href="#">
    <img src="assets/DashboardLogo.png" width="150" height="30" alt="SCANLEV ADMIN">
  </a>
  <div class="nav-right">
    <ul class="nav navbar-nav navbar-right">
      <li style="display:flex;flex-direction: row; flex-wrap: wrap;"><i class="pi pi-sign-out logout"></i><span class="txtLogout">LOGGA UT</span></li>
    </ul>
  </div>
</nav>
<div class="sidenav" >
  <div class="SideNavIcons">
    <i class="pi pi-users"></i>
    <p class="sideIcons">ANVÄNDARE ( {{ ConsolidateData.ActiveNumberOfUser }} )</p>
  </div>
  <div class="SideNavIcons">
    <i class="pi pi-user-plus"></i>
    <p class="sideIcons">AKTIVA <br> ANVÄNDAR ( {{ ConsolidateData.NumberOfCompany }} )</p>
  </div>
  <div class="SideNavIcons">
    <i class="pi pi-briefcase"></i>
    <p class="sideIcons">FÖRETAG ( {{ ConsolidateData.NumberOfUser }} )</p>
  </div>
  <div class="SideNavIcons">
    <i class="pi pi-cog"></i>
    <p class="sideIcons">INSTALLATION ( {{ ConsolidateData.NumberOfInstance }} )</p>
  </div>
</div>
<div style="padding-top:65px; background:#eee; min-height: 100%;">
  <div style="margin-left: 115px">
    <!-- <p-breadcrumb [model]="crumbs"></p-breadcrumb> -->
<router-outlet></router-outlet>
</div>
</div>
